/* Reset */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.85);
}


/* Demo */

.headroom {
  background-color: #252526;
  padding: 0 2rem;
  overflow: hidden;
  /* Headroom related */
  position: fixed;
  width: 100%;
  top: 0;
  transition: opacity .3s linear;
}

.headroom h1 {
  color: #fff;
  float: left;
  line-height: 4rem;
}

#buy-link {
  display: none;
}

.headroom--pinned {
  /*display: block;*/
  /*transform: translateY(0%);*/
  opacity: 1;
}

.headroom--unpinned {
  /*display: none;*/
  /*transform: translateY(-100%);*/
  opacity: 0;
}

.headroom--pinned.headroom--not-top #buy-link {
  display: inline-block;
}

nav {
  float: right;
}

nav ul li {
  float: left;
  list-style: none;
  margin-left: 2rem;
}

nav ul li a {
  display: inline-block;
  line-height: 4rem;
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
}

nav ul li a:hover {
  color: white;
}

main {
  width: 75%;
  margin: 3rem auto 0;
  padding-top: 4rem;
}

article {
  margin-bottom: 3rem;
}

article h1 {
  margin: 1.5rem 0;
}