// Demo styles.
body {
    line-height: 1.5;
}

.container {
    width: 100%;
    height: 100vh;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10rem 20rem;
}

.c1 {
    background-color: #fbfbfb;
    color: #2b3e50;
}

.c2 {
    background-color: #19bb9d;
}

.c3 {
    background-color: #2b3e50;
}

.c4 {
    background-color: #2a80b9;
}

.content {
    padding: 5rem;
    
    & + img {
        margin-left: 10rem;
    }
    
    img + & {
        margin-left: 10rem;
    }
}

img {
    max-width: 30rem;
}

// ScrollTrigger.
[data-slideInLeft].visible, [data-slideInLeft].invisible,
[data-slideInRight].visible, [data-slideInRight].invisible,
[data-slideInTop].visible, [data-slideInTop].invisible {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: transform 1s ease, opacity 1s ease;
}

[data-slideInLeft].invisible {
    opacity: 0;
    transform: translate3d(3rem, 0, 0);
}

[data-slideInRight].invisible {
    opacity: 0;
    transform: translate3d(-3rem, 0, 0);
}

[data-slideInTop].invisible {
    opacity: 0;
    transform: translate3d(0, -3rem, 0);
}